body{background-color:#F0A9A9;}
.panel-default {
  border-color: #F00;
}
.panel-default>.panel-heading {
  color: #0F371A;
  background-color: #F48585;
  border-color: #F00;
}
.checkbox label, .radio label {
  color: #f00;
}